h1 CONDITIONS GENERALES
h2 Frais couverts par l'inscription
p Les frais d’inscription couvrent la participation à la Journée scientifique du 3 novembre 2014
h2 Coûts et délai d’inscription
ul 
  li Normal (tarif plein) 60 CHF
  li Etudiant-AVS-Chômage (tarif réduit) 30 CHF (sur présentation d’un justificatif à l’entrée)
  li Collaborateur et étudiant HESAV (gratuit) 0 CHF
p Les tarifs s’entendent TVA comprise. Tout paiement s'effectue en Francs suisses (CHF)
p La confirmation de l'inscription, ainsi que les informations concernant le paiement sont envoyées par courrier électronique.
p Le délai d'inscription est fixé au 26 octobre 2014
h2 Annulation
p Les demandes d'annulation sont acceptées jusqu'au 31 octobre 2014.
p Elles sont à adresser par courriel à recherche@hesav.ch
p Passé ce délai, l’inscription sera entièrement facturée.
h2 Protection des données
p Les organisateurs s'engagent à observer les exigences de la Loi sur la Protection des Données (LPD) concernant le traitement et la communication des informations personnelles mises à leur disposition.
h2 Bureau d'enregistrement
p HESAV
p Unité de Recherche en Santé
p Av. de Beaumont 21
p 1011 Lausanne
p Tél : +41 21 316 81 01
p Mail : recherche@hesav.ch


