// Place all the styles related to the death14Registration controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap.min.css";
body{
    font-family: Arial, Verdana, sans-serif;
    /*font-size: 12px;*/
    background-color: #dcdcdc;
    color: #005E23;
}
.container { 
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.05) inset, 0 10px 20px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.05) inset, 0 10px 20px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.05) inset, 0 10px 20px rgba(0, 0, 0, 0.2);
}
.blocktitle {
    color: #4EA64F;
    padding: 30px 0 20px 50px;    
}
.blocktitle h1 {
    text-transform:uppercase;
}
h1 {
    font-size: 22px;
}
h2 {
    font-size: 18px;
}
h3 {
    background-image: url(asset-path('title.png'));
    background-position:center; 
    background-repeat:repeat-x;
    margin-bottom: 30px;
}
h3 span {
    text-transform:uppercase;
    color: #FFF;
    display: inline;
    padding:5px 10px;
    background:#c3c3c3;
    margin-left: 50px;
    font-size: 20px;
    font-weight: normal;

}
input[type="text"]:focus {
    background-color: #eaf4ec;
    border: 1px solid #1e993e;
}

input[type="text"] {
    background-color: #f5f5f5;
    border: 1px solid #bdbdbd;
}

input:focus:invalid:focus{
    color: black;
    border-color: #1e993e;
    -webkit-box-shadow: 0 0 6px #eaf4ec;
    -moz-box-shadow: 0 0 6px #eaf4ec;
    box-shadow: 0 0 6px #eaf4ec;
}
#workshop-info .radio{
	span{
		display: block;
		font-style: italic;
	}
}
.btn{
	margin-top:20px;
	margin-bottom: 50px;
}
.logodiv {
    position: relative;
}
.logoimg {
    position: absolute;
    right: 0;
    bottom: 0;
}
.blockcontent {
    color: #4EA64F;
    margin-bottom: 40px;   
    .discover {
    	margin-bottom: 30px;
    }
}
.blockcontent h2 {
    color: #565351;
}
#perso-infos .col-md-4{
    text-align: right;
}