body {
    font-family: 'Open Sans', sans-serif;
    color: #888;
    margin-bottom: 5px;
}

h1 {
    color: #555;
    font: 400 32px/34px 'Rokkitt', serif;
}

h2 {
    color: #33BEE5;
    font: 400 24px/26px 'Rokkitt', serif;
    letter-spacing: 0;
}

.warning-message {
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    letter-spacing: normal;
}
